<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>433999419050-ph5k7mr22elnrlami7k7hdruad3kcc63.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.433999419050-ph5k7mr22elnrlami7k7hdruad3kcc63</string>
	<key>API_KEY</key>
	<string>AIzaSyADhxK5PEN8XGHV5KaRby-MO1spfGH1tvI</string>
	<key>GCM_SENDER_ID</key>
	<string>433999419050</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsappUi</string>
	<key>PROJECT_ID</key>
	<string>whatsapp-project-bff31</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsapp-project-bff31.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:433999419050:ios:b02cd9d3d1e6c3254f22d3</string>
</dict>
</plist>